In [10]:
Creating tables: movie name, participants, and ranking

: Msg 102, Level 15, State 1, Line 1
Incorrect syntax near 'movie'.

In [11]:
CREATE TABLE [dbo].[Movie Name] (
    [movie_id]   INT          NOT NULL,
    [movie_name] VARCHAR (50) NULL,
    CONSTRAINT [PK_Movie Name] PRIMARY KEY CLUSTERED ([movie_id] ASC)
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Movie Name' in the database.

In [12]:
CREATE TABLE [dbo].[Participant] (
    [participant_id]   INT          NOT NULL,
    [participant_name] VARCHAR (50) NULL
);
CREATE TABLE [dbo].[Ranking] (
    [ranking_id]     INT NOT NULL,
    [participant_id] INT NULL,
    [movie_id]       INT NULL,
    [ranking]        INT CHECK (ranking BETWEEN 1 AND 5),
    FOREIGN KEY (participant_id) REFERENCES [dbo].[Participant](participant_id),
    FOREIGN KEY (movie_id) REFERENCES [dbo].[Movie Name](movie_id)
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Participant' in the database.

Writitng in the data information for the movie and pt names

In [14]:
INSERT INTO [Movie Name] (movie_id, movie_name) VALUES
(1, 'The Exorcism'),
(2, 'Tarot'),
(3, 'Immaculate'),
(4, 'The Watchers'),
(5, 'Oddity'),
(6, 'The Deliverance');

In [15]:
INSERT INTO [Participant] (participant_id, participant_name) VALUES
(1, 'Kim'),
(2, 'Peter'),
(3, 'Timothy'),
(4, 'Bibi'),
(5, 'Susan'),
(6, 'Gabe');

id name  

SELECT participant\_id, participant\_name FROM \[Participant\];

SELECT movie\_id, movie\_name FROM \[Movie Name\];

In [19]:
INSERT INTO [Ranking] (ranking_id, participant_id, movie_id, ranking) VALUES
(1, 1, 1, 5),  -- Kim 
(2, 1, 2, 4), 
(3, 1, 3, 0), 
(4, 1, 4, 3), 
(5, 1, 5, 0), 
(6, 1, 6, 4),
(7, 2, 1, 3),  -- Peter
(8, 2, 2, 0),  
(9, 2, 3, 5),  
(10, 2, 4, 0),  
(11, 2, 5, 4), 
(12, 2, 6, 0),
(13, 3, 1, 0),  -- Timothy
(14, 3, 2, 3),  
(15, 3, 3, 4), 
(16, 3, 4, 2),  
(17, 3, 5, 0),  
(18, 3, 6, 5),
(19, 4, 1, 0),  -- Bibi
(20, 4, 2, 4), 
(21, 4, 3, 0),  
(22, 4, 4, 3),  
(23, 4, 5, 2),  
(24, 4, 6, 0),
(25, 5, 1, 4),  -- Susan
(26, 5, 2, 0), 
(27, 5, 3, 3), 
(28, 5, 4, 0),  
(29, 5, 5, 5), 
(30, 5, 6, 2),
(31, 6, 1, 4),  -- Gabe
(32, 6, 2, 5), 
(33, 6, 3, 3),  
(34, 6, 4, 2),  
(35, 6, 5, 1),  
(36, 6, 6, 4);

In [2]:
SELECT @@SERVERNAME AS 'Server Name';

Server Name
Milo

In [8]:
SELECT * FROM Ranking;

ranking_id,participant_id,movie_id,ranking
1,1,1,5
2,1,2,4
3,1,3,0
4,1,4,3
5,1,5,0
6,1,6,4
7,2,1,3
8,2,2,0
9,2,3,5
10,2,4,0
11,2,5,4
12,2,6,0
13,3,1,0
14,3,2,3
15,3,3,4
16,3,4,2
17,3,5,0
18,3,6,5
19,4,1,0
20,4,2,4
21,4,3,0
22,4,4,3
23,4,5,2
24,4,6,0
25,5,1,4
26,5,2,0
27,5,3,3
28,5,4,0
29,5,5,5
30,5,6,2
31,6,1,4
32,6,2,5
33,6,3,3
34,6,4,2
35,6,5,1
36,6,6,4